@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

html {
  background: #fbfbfb;
}

body {
  background: #fbfbfb;
  color: #171717;
}

::selection {
  background: #e5e5e5;
}
